---
layout: default
title: Buildstarted.com
---

{% assign year = '2015' %}
{% assign month = 'December' %}

  <ul class="posts">
    {% for post in site.posts %}
      {% capture postmonth %}{{ post.date | date: "%B" }}{% endcapture %}
      <div>{{ postmonth }}</div>
      {% if postmonth != month %}
        {% assign month = postmonth %}
        <li>{{ month }}</li>
      {% endif %}
    {% endfor %}
  </ul>


<!--{% if user.name == 'bob' and user.age > 45 %}
  Hello old bob
{% endif %}-->