<!--for overriding-->
<style type="text/css">
.devring {
        color: #fff;
        background: #000;
}
.devring-container {
        padding: .25em;
        display: grid;
        grid-template-columns: .5fr 1fr 1fr 1fr;
        text-align: center;
}
.devring-container a, .devring-container a:hover {
        color: #ccc;
        text-decoration: none;
        border: none;
}
</style>

<div class="devring">
  <div style="text-align:center">Explore other dev related sites in this ring. If you would like to join this ring <a href="https://devring.club">click here</a>.</div>
  <div class="devring-container container">
    <span class="devring-title"><a href="https://devring.club/">devring.club</a></span>
    <a href="https://devring.club/sites/3/prev" class="devring-previous">Previous</a>
    <a href="https://devring.club/random" class="devring-random">Random</a>
    <a href="https://devring.club/sites/3/next" class="devring-next">Next</a>
  </div>
</div>
