.devring {
	margin-top: 4em;
	color: #fff;
}
.devring-container {
	padding: .25em;
	max-width: 1024px; 
	margin-left: auto; 
	margin-right: auto; 
	display: grid; 
	grid-template-columns: .5fr 1fr 1fr 1fr; 
	text-align: center;
}
.devring-container a {
	color: #ccc;
	text-decoration: underline;
	border: none;
}
